*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*--------------------header1------------*/

.header1 li{
    float: left;
    
}
.header1{
    list-style: none;
    height: 65px;
    width: max-content;
    background-color: rgb(16, 208, 214);
}
li a img{
    margin: 0px 70px 0 100px;
    height: 50px;
}
.input-group{
    margin: 15px 120px 0 0;
}
.form-control{
    margin-right: -5px;
    outline: none;
    width: 600px;
    padding: 10px;  
}
li .cart{
    font-size: 50px;
    margin: 5px 0 0 0;
}
li .cart a{
    color:rgba(0, 0, 0, 0.877);
}
.input-group button i{
    padding: 13px;
    background-color: #4254f5;
    border-radius: 0 5px 5px 0;
    
}
.input-group button{
    border: none;
}
li .header1-sign{
    text-decoration: none;
    width: 70px;
    height: 50px;
    padding: 8px 18px;
    border: 1px solid rgba(0, 0, 0, 0.664);
    border-radius: 5px;
    color: black;
}
li .header1-sign:hover{
    background-color: #33C24D;
    color: white;
    border: none;
    transition: background-color, 1s ease .1s;
}
.header1 .header1-sig{
    margin: 25px 135px 0 35px;
}
/*--------------------header2------------*/
.header2{
    margin-left: 200px;
    margin-top: -50px;
}
.header2 li{
    list-style-type: none;
    float: left;
    
}

.header2 li a{
    padding: 7px 15px;
    font-size: 18px;
    margin: 0px 10px 0 0;
    border: 1px solid rgb(16, 208, 214);
    border-radius: 5px;
    text-decoration: none;
    color: black;
}
.header2 li a:hover{
    background-color: rgb(16, 208, 214);
    transition: background-color, 1s ease 0s;
    border-radius: 7px;
    color: white;
    transition: color, 1s ease 0s;
}
.gift i{
    padding: 0px 15px;
}
/*-------------container1--------------*/
.container1 {
    height: 465px;
    width: 1110px;
    margin-left: 120px;
    margin-top: 50px;
    background-color: #faf6f6;
}
.container1 .section1{
    background-color: #ffffff;
    height: 400px;
    width: 312px;
    margin-top: 30px;
    margin-left: 30px;
    border: 1px solid rgb(175, 162, 162);
    text-align: center;
    float: left;
}
.section1 img{
    margin-top: 25px;
}
.container1 .text{
    height: 400px;
    width: 480px;
    background-color: #ffffff;
    margin-top: 30px;
    float: left;
    padding: 20px 20px 20px 20px;
}
.text p{
    margin-bottom: 8px;
}
.text .bkash{
    color: #33C24D;
}
.text .button1{
    border: 1px solid #33C24D;
    padding: 8px 22px;
    margin-bottom: 13px;
    background-color: #ffffff;
}
.text .button1:hover{
    background-color: #33C24D;
    transition: background-color,2s ease 0s;
}
.text .button2{
    border: 1px solid black;
    padding: 8px 22px;
    margin-bottom: 13px;
    margin-left: 13px;
    color: white;
    font-weight: 700;
    border: 1px solid #FFAD33;
    background-color: #FFAD33;
}
.icon1{
    float: left;
    font-size: 25px;
    margin-right: 20px;
}
.icon2{
    float: left;
    font-size: 25px;
}
/*------footer section---------*/
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col ul li{
    list-style: none;
}
.footer-col ul li a{
    list-style: none;
    text-decoration: none;
    color: beige;
}
.footer{
    position: relative;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #24262b;
    padding: 70px 0px;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h2{
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-weight: 500;
    position: relative;
}
.footer-col h2::before{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -9px;
    background-color: #e91e63;
    height: 2px;
    width: 50px;
}
.footer-col ul li:not(last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    list-style: none;
    text-decoration: none;
    color: #bbbbbb;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 300;
    transition: all 0.3s ease;

}
.footer-col ul li a:hover{
    color:#ffffff;
    padding-left: 10px;
}

.footer-col .socials a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .socials a:hover{
    color: #24262b;
    background-color: #ffffff;
}
/*------responsive---------*/
@media(max-width:767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width:574px){
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
    }
}
/*------copyright---------*/
.copyright{
    position: relative;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
    text-transform: capitalize;
    background-color: #1b1e24;
    color: blanchedalmond;
    padding: 15px;
    font-size: 20px;
    font-weight: normal;
}
